{% extends 'base.html' %}
{% block title %}Add New User{% endblock %}
{% block content %}
<h1>Create a User</h1>
<form method = "POST" action = "/">
    <label for="username">Username:</label>
    <input type="text" id="username" required>
    <label for="given-name">Given Name:</label>
    <input type="text" id="given-name">
    <label for="surname">Surname:</label>
    <input type="text" id="surname">
    <label for="img-url">Profile Picture:</label>
    <input type="text" id="img-url">
    <button>Add User</button>
</form>
{% endblock %}