{% extends 'base.html' %}
{% block title %}Add New User{% endblock %}
{% block content %}
<h1>Create a User</h1>
<form method = "POST" action = "/users/new">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <label for="last-name">Given Name:</label>
    <input type="text" id="first-name" name="first-name">
    <label for="last-name">Surname:</label>
    <input type="text" id="last-name" name="last-name">
    <label for="img-url">Profile Picture:</label>
    <input type="text" id="img-url" name="img-url">
    <button>Add User</button>
</form>
{% endblock %}