{% extends 'base.html' %}
{% block title %}{{user.username}} Details{% endblock %}
{% block content %}
<h1>{{user.username}}</h1>
<img class= "profile_pic" src="{{user.image_url}}">
<h2>Personal Details:</h2>
<ul>
    {% if user.first_name != '' %}<li>First Name: {{user.first_name}}</li>{% endif %}
    {% if user.last_name != '' %}<li>Last Name: {{user.last_name}}</li>{% endif %}
    <h2>Posts</h2>
    {% if user.posts != [] %}
    {% for post in user.posts %}<li><a href='/posts/{{post.id}}'>{{post.title}}</a></li>{% endfor %}
    {% else %}
    <p>This user has no posts!</p>
    {% endif %}
    <form action="/users/{{user.id}}/edit">
        <button>Edit User</button>
    </form>
    <form method="POST" action="/users/{{user.id}}/delete">
        <button>Delete User</button>
    </form>
    <form action="/users">
        <button>Return to User List</button>
    </form>
    <form action="/users/{{user.id}}/posts/new">
        <button>Add Post</button>
    </form>
</ul>
{% endblock %}